studyplaner/studyplaner/Data/uniLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uni">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="short" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="module" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="short" type="xs:string" />
                    <xs:element name="semester" type="xs:string" />
                    <xs:element name="department" type="xs:string" />
                    <xs:element name="events">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="event" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:int" />
                                <xs:element name="lvnum" type="xs:string" />
                                <xs:element name="location" type="xs:string" />
                                <xs:element name="date">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="interval" type="xs:string" />
                                      <xs:element name="hours" type="xs:byte" />
                                      <xs:element name="minutes" type="xs:byte" />
                                      <xs:element name="date" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="duration">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="hours" type="xs:byte" />
                                      <xs:element name="minutes" type="xs:byte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="lecturer" type="xs:string" />
                                <xs:element name="importance" type="xs:byte" />
                                <xs:element name="power" type="xs:boolean" />
                                <xs:element name="type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>